.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.text {
  width: 40%;
}
.text div {
  margin: 3rem 0;
}
.instagram p {
  font-size: 2rem;
}
.title h2 {
  font-size: 4rem;
  color: rgba(220, 202, 135, 1);
}
.paragraph {
  line-height: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(170, 170, 170, 1);
}
.button {
  width: 20%;
  background-color: rgba(220, 202, 135, 1);
  color: rgba(12, 11, 8, 1);
  text-align: center;
  font-weight: bold;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
}
.photos {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  width: 60%;
}
.img {
  width: 33%;
  height: 100%;
  text-align: end;
}
.img img {
  width: 90%;
  object-fit: contain;
  border-radius: 10px;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
}
  .text {
    width: 100%;
}
  .photos {
    width: 100%;
}
  .img {
    text-align: start;
    width: 50%;
}
}
@media (max-width: 600px) {
  .text div {
    margin: 1.6rem 0;
}
  .instagram p {
    font-size: 1.2rem;
}
  .title h2 {
    font-size: 2rem;
}
  .paragraph {
    line-height: 1.8rem;
    font-size: 0.8rem;
}
  .button {
    padding: 10px 0;
    width: 30%;
}
  .img {
    width: 100%;
    margin: 1rem;
}
  .img img {
    width: 100%;
}
}